:root {
	--easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
	--easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
	--easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
	--easing-sharp: cubic-bezier(0.4, 0, 0.6, 1);

	--duration-menu: 150ms;

	--transition-dom-x-ray: color 1s var(--easing-standard), border-color 1s var(--easing-standard),
		background-color 1s var(--easing-standard), outline-color 1s var(--easing-standard),
		box-shadow 1s var(--easing-standard), opacity 1s var(--easing-standard),
		visibility 1s var(--easing-standard), filter 1s var(--easing-standard),
		transform 1s var(--easing-standard), fill 1s var(--easing-standard);
}

*,
*::after,
*::before {
	transition: var(--transition-dom-x-ray);
	scroll-behavior: smooth;
}

html.no-transitions *,
html.no-transitions *::before,
html.no-transitions *::after {
	transition: none !important;
}
